{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 1 versions"
        ]
      },
      "modules": false,
      "debug": true
    }],
    "react"
  ],
  "plugins": ["react-hot-loader/babel", "transform-class-properties", "transform-object-rest-spread"]
}