{
    "extends": ["eslint:recommended", "react-app", "prettier"],
    "rules": {
        "no-prototype-builtins": "off",
        "no-unused-vars": "error",
        "prefer-const": "error",
        "one-var": ["error", "never"],
        "no-underscore-dangle": ["error", {"allowAfterThis": true}],
        "max-statements-per-line": ["error", { "max": 1 }],
        "camelcase": ["warn", {"properties": "never"}],
        "lines-around-directive": ["error", {"before": "never", "after": "always"}],
        "padding-line-between-statements": [
            "error",
            { "blankLine": "always", "prev": "*", "next": "return" },
            { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
            { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
        ],
        "import/no-default-export": "error"
    }
}
