{
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "flowtype",
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    // off
    "no-confusing-arrow": "off",
    // warn
    // error
    "jsx-quotes": "error",
    "flowtype/type-id-match": [
      2,
      "^Type([A-Z][a-z0-9]*)+$"
    ],
//    "flowtype/require-parameter-type": "error",
//    "flowtype/no-weak-types": "error",
    "react/no-find-dom-node": "error",
    "array-bracket-spacing": "error",
    "array-callback-return": "error",
    "arrow-body-style": "error",
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "block-spacing": "error",
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": [2, {"properties": "never"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": "error",
    "consistent-this": "error",
    "curly": "error",
    "dot-location": [2, "property"],
    "dot-notation": "error",
    "eqeqeq": [1, "smart"],
    "func-style": "error",
    "indent": [2, 4, {
      "SwitchCase": 1
    }],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": "error",
    "linebreak-style": [2, "unix"],
    "max-depth": "error",
    "max-params": "error",
    "max-statements-per-line": [2, { "max": 1 }],
    "new-cap": "warn",
    "new-parens": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
    ],
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-continue": "warn",
    "no-div-regex": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-empty-function": "warn",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-magic-numbers": [1, {"ignore": [-1, 0, 1, 2]}],
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": [2, {"max": 1, "maxBOF": 0, "maxEOF": 0}],
    "no-native-reassign": "error",
    "no-nested-ternary": "off",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-spaced-func": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": [2, {"skipBlankLines": true}],
    "no-undef-init": "error",
    "no-underscore-dangle": [2, {"allowAfterThis": true}],
    "no-unmodified-loop-condition": "error",
    "no-unneeded-ternary": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "error",
    "no-useless-call": "error",
    "no-useless-computed-key": "error",
    "no-useless-concat": "error",
    "no-useless-constructor": "error",
    "no-useless-escape": "error",
    "no-var": "error",
    "no-warning-comments": "warn",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "never"],
    "object-property-newline": [2, {"allowMultiplePropertiesPerLine": true}],
    "object-shorthand": "error",
    "one-var-declaration-per-line": "error",
    "operator-linebreak": "error",
    "padded-blocks": [2, "never"],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "quotes": [2, "single"],
    "semi": "error",
    "semi-spacing": "error",
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "space-in-parens": [2, "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": "error",
    "template-curly-spacing": [2, "never"],
    "valid-jsdoc": "error",
    "wrap-iife": "error",
    "react/prop-types": "warn",
    "no-console": "off",
    "one-var": ["error", "never"],
    "react/display-name": "warn"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
