/vendor
/node_modules
composer.lock
Homestead.yaml
Homestead.json
.env
.idea
public/mobile
public/desktop
sources/mobile/build
sources/desktop/build
sources/desktop/bootstrap.json
sources/desktop/bootstrap.css
sources/desktop/sass/example/bootstrap.json
sources/desktop/resources/css
.sass-cache
.sencha_backup
_ide_helper.php