# PHP stuff
/vendor
composer.lock
Homestead.yaml
Homestead.json
.env

# EDITOR stuff
.idea
_ide_helper.php

# NPM stuff
/node_modules
public/dist

# EXT stuff
public/resources
public/ext
public/app.js
public/app.json
public/microloader.html
.sass-cache
.sencha_backup
sources/desktop/build
sources/desktop/bootstrap.json
sources/desktop/bootstrap.css
sources/desktop/sass/example/bootstrap.json
sources/desktop/resources/css

# NODE STUFF
config/local.json
npm-debug.log*