bootstrap/compiled.php
vendor
app/config/*/*
app/storage
.idea
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/mobile/build
public/desktop/build
.sass-cache
public/desktop/boostrap.json