{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "bracketSpacing": false,
  "semi": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
