@import "compass";

.x-mask {
  border: none !important;
}

.expense-row {
  &.pending-expense-row {
    > td:nth-child(3) > .x-grid-cell-inner {
      border-radius: 4px;
      padding: 3px 8px 2px 8px;
      margin: 2px;
      @include background-image(linear_gradient(#FFE73A, #FAC637));
    }
  }

  + .x-grid-rowbody-tr .x-grid-rowbody {
    .expense-details-separator {
      width: calc(100% + 20px);
      margin: -4px 0 5px -10px;
      border: none;
      border-top: 1px solid #EDEDED;
    }
  }
}

.today-row {
  td {
    font-weight: bold;
  }
}

.future-row {
  td:not([data-columnid^="actioncolumn"]) > .x-grid-cell-inner {
    opacity: 0.5;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.fake-expander-grid {
  .non-expandable-row .x-grid-row-expander {
    display: none;
  }

  .x-grid-rowbody {
    display: none;
  }

  .child-row {
    td:first-child {
      background: #FFF;
    }

    td:not(:first-child) {
      background: #EEE;
      color: #AAA;
    }
  }
}

.report-grid {
  .total-row {
    font-weight: bold;
  }
}