@import "compass";

body > .x-mask {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.x-mask {
  border: none !important;
}

.expense-row {
  &.pending-expense-row {
    > td:nth-child(3) > .x-grid-cell-inner {
      //padding: 3px 8px 2px 8px;
      background: #5FA2DD;
      color: #FFF;
    }
  }

  + .x-grid-rowbody-tr .x-grid-rowbody {
    .expense-details-separator {
      width: calc(100% + 20px);
      margin: -4px 0 5px -10px;
      border: none;
      border-top: 1px solid #EDEDED;
    }
  }
}

.today-row {
  td {
    font-weight: bold;
  }
}

.future-row {
  td:not([data-columnid^="actioncolumn"]) {
    > .x-grid-cell-inner {
      opacity: 0.5;
    }
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.fake-expander-grid {
  .non-expandable-row .x-grid-row-expander {
    display: none;
  }

  .x-grid-rowbody {
    display: none;
  }

  .child-row {
    td:first-child {
      background: #FFF;
    }

    td:not(:first-child) {
      background: #EEE;
      color: #AAA;
    }
  }
}

.report-grid {
  .total-row {
    font-weight: bold;
  }
}

@mixin user-icon($size) {
  width: $size;

  img {
    width: $size;
    height: $size;
  }
}

.user-icon {
  @include user-icon(20px);
  position: relative;
  display: inline-block;
  height: 12px;

  img {
    position: absolute;
    left: 0;
    top: -3px;
    border-radius: 50%;
  }

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.x-toolbar .user-icon {
  @include user-icon(16px);
  margin-right: 5px;

  img {
    top: 0;
  }
}

.display-block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.text-center {
  text-align: center !important;
}

.ux-notification-window {
  .x-title-icon {
    height: auto !important;
  }

  .x-window-body {
    padding: 10px 15px;
  }
}