body > .x-mask {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.x-mask {
  border: none !important;
}

.item-usages {
  opacity: 0.5;
  float: right;
  font-style: italic;
}

.today-row {
  td {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
  }
}

.future-row {
  td {
    background: rgba(0, 0, 0, 0.05);
  }
}

.even-row {
  td.x-grid-cell.date {
    background: rgba(173, 216, 230, 0.75);
  }
}

.odd-row {
  td.x-grid-cell.date {
    background: rgba(240, 128, 128, 0.75);
    color: white;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

@mixin report-grid-header-color($color, $selector, $dark: false) {
  &.#{$selector} {
    > .x-panel-header {
      &, .x-tool-img, .x-panel-header-title-default {
        background-color: $color !important;
        @if ($dark) {
          color: rgba(0, 0, 0, 0.9);
        } @else {
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}

.report-grid {
  @include report-grid-header-color(#6AA84F, 'green');
  @include report-grid-header-color(#A64D79, 'orchid');
  @include report-grid-header-color(#A83232, 'red');
  @include report-grid-header-color(#F1C232, 'yellow', true);

  > .x-panel-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .x-panel-header-title {
      height: 44px !important;
    }

    .grid-custom-title {
      position: relative;

      .grid-title-name {
        position: relative;
        top: -7px;
      }

      .grid-title-sum {
        position: absolute;
        top: 9px;
        left: 0;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .group-name, .group-sum {
    display: block;
    width: 50%;
    @extend .text-ellipsis;
  }

  .group-name {
    @extend .left;
  }

  .group-sum {
    font-weight: bold;
    text-align: right;
    @extend .right;
  }
}

@mixin user-icon($size) {
  width: $size;

  img {
    width: $size;
    height: $size;
  }
}

.user-icon {
  @include user-icon(20px);
  position: relative;
  display: inline-block;
  height: 12px;

  img {
    position: absolute;
    left: 0;
    top: -3px;
    border-radius: 50%;
  }

  &:not(:first-child) {
    margin-left: 5px;
  }
}

.x-toolbar .user-icon {
  @include user-icon(16px);
  margin-right: 5px;

  img {
    top: 0;
  }
}

.display-block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.text-center {
  text-align: center !important;
}

.ux-notification-window {
  .x-title-icon {
    height: auto !important;
  }

  .x-window-body {
    padding: 10px 15px;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}