{
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": [
    "flowtype",
    "react",
    "jquery"
  ],
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": 2,
    "flowtype/type-id-match": [
      2,
      "^Type([A-Z][a-z0-9]*)+$"
    ],
    "flowtype/require-parameter-type": 1,
    "flowtype/no-weak-types": 1,
    "react/no-find-dom-node": 1,
    "fbn-no-underscorejs": 1,
    "array-bracket-spacing": 2,
    "array-callback-return": 2,
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "arrow-spacing": 2,
    "block-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "camelcase": [2, {"properties": "never"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "computed-property-spacing": 2,
    "consistent-this": 2,
    "curly": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eqeqeq": [1, "smart"],
    "func-style": 1,
    "indent": 0,
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "max-depth": 1,
    "max-params": 1,
    "max-statements-per-line": [2, { "max": 1 }],
    "new-cap": 1,
    "new-parens": 2,
    "newline-after-var": 2,
    "newline-before-return": 2,
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-caller": 2,
    "no-confusing-arrow": 2,
    "no-continue": 2,
    "no-div-regex": 2,
    "no-duplicate-imports": 2,
    "no-else-return": 2,
    "no-empty-function": 1,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 2,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-lone-blocks": 2,
    "no-lonely-if": 2,
    "no-loop-func": 2,
    "no-magic-numbers": [1, {"ignore": [-1, 0, 1, 2]}],
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-multiple-empty-lines": [2, {"max": 1, "maxBOF": 0, "maxEOF": 0}],
    "no-native-reassign": 2,
    "no-nested-ternary": 2,
    "no-new-func": 2,
    "no-new-object": 2,
    "no-new-wrappers": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-spaced-func": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": [1, {"skipBlankLines": true}],
    "no-undef-init": 2,
    "no-underscore-dangle": [1, {"allowAfterThis": true}],
    "no-unmodified-loop-condition": 2,
    "no-unneeded-ternary": 2,
    "no-unused-expressions": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 1,
    "no-useless-call": 2,
    "no-useless-computed-key": 2,
    "no-useless-concat": 2,
    "no-useless-constructor": 2,
    "no-useless-escape": 2,
    "no-var": 2,
    "no-warning-comments": 1,
    "no-whitespace-before-property": 2,
    "object-curly-spacing": 2,
    "object-property-newline": [2, {"allowMultiplePropertiesPerLine": true}],
    "object-shorthand": 1,
    "one-var-declaration-per-line": 2,
    "operator-linebreak": 2,
    "padded-blocks": [2, "never"],
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "quotes": [2, "single"],
    "semi": 2,
    "semi-spacing": 2,
    "space-before-blocks": [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "spaced-comment": 1,
    "template-curly-spacing": [2, "never"],
    "valid-jsdoc": 1,
    "wrap-iife": 2,
    "jquery/no-ajax": 1,
    "jquery/no-animate": 1,
    "jquery/no-attr": 1,
    "jquery/no-bind": 1,
    "jquery/no-class": 1,
    "jquery/no-clone": 1,
    "jquery/no-closest": 1,
    "jquery/no-css": 1,
    "jquery/no-data": 1,
    "jquery/no-deferred": 1,
    "jquery/no-delegate": 1,
    "jquery/no-each": 1,
    "jquery/no-fade": 1,
    "jquery/no-filter": 1,
    "jquery/no-find": 1,
    "jquery/no-global-eval": 1,
    "jquery/no-has": 1,
    "jquery/no-hide": 1,
    "jquery/no-html": 1,
    "jquery/no-in-array": 1,
    "jquery/no-is": 1,
    "jquery/no-map": 1,
    "jquery/no-merge": 1,
    "jquery/no-param": 1,
    "jquery/no-parent": 1,
    "jquery/no-parents": 1,
    "jquery/no-parse-html": 1,
    "jquery/no-prop": 1,
    "jquery/no-proxy": 1,
    "jquery/no-serialize": 1,
    "jquery/no-show": 1,
    "jquery/no-sizzle": 1,
    "jquery/no-slide": 1,
    "jquery/no-text": 1,
    "jquery/no-toggle": 1,
    "jquery/no-trigger": 1,
    "jquery/no-trim": 1,
    "jquery/no-val": 1,
    "jquery/no-wrap": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}