.inlineBlock {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.hPadded:not(:last-child) {
    margin-right: 10px;
}

.noWrap {
    white-space: nowrap;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.fullWidth {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.centerBlock {
    margin-left: auto;
    margin-right: auto;
}
