.main {
    background: #fff;
    font-size: 14px;
    border: 0 !important;

    &.hideHeader :global(.rt-thead) {
        display: none;
    }
}

.main :global(.rt-thead .rt-th) {
    padding: 10px 5px !important;
}

.main :global(.rt-td) {
    line-height: 20px;
    padding-bottom: 2px;
}
